<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AOC Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            {% for year in years %}
                {% if year != current_year %}
                    <a href="/{{ year }}">{{ year }}</a>
                {% else %}
                    <span>{{ year }}</span>
                {% endif %}
            {% endfor %}
            <a href="/rules">Rules</a>
        </div>
        <div class="col-6 text-end">
            <span>Data retrieved at {{ timestamp }}</span>
        </div>
    </div>
</div>
<h1 class="h1 text-center">Advent of Code {{ current_year }} <small class="text-muted">Leaderboard</small></h1>
<br />
 <table class="table">
     <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Total stars</th>
            {% for day in days %}
                <th scope="col">
                {% if day|int <= current_day %}
                    <a href="https://adventofcode.com/{{current_year}}/day/{{day | int}}">{{ day }}</a>
                {% else %}
                    {{ day }}
                {% endif %}
                </th>
            {% endfor %}
            <th scope="col">Total time</th>
            <th scope="col">Average time</th>
        </tr>
    </thead>
    {% for member in members %}
        <tr>
            <th scope="row">{{ member.name }}</th>
            <td>{{ member.position }}</td>
            <td>{{ member.stars }}</td>
            {% for result in member.results %}
            <td
               class="star {{ 'gold' if result.gold_ts else 'silver' if result.silver_ts }}" title="{{ result.str_time }}"
            >*</td>
            {% endfor %}
            <td>{{ member.str_total_time }}</td>
            <td>{{ member.str_average_time }}</td>
        </tr>
    {% endfor %}
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>