<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AOC Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a href="/">Results</a>
            <span>Rules</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="row">
            <h1 class="h1 text-center">Advent of Code {{ current_year }} <small class="text-muted">Broadsign leaderboard</small></h1>
            <h2 class="h2 text-center">Rules</h2>
        </div>
        <div class="col-md-6">
            <br />
            <p>The contest ends on December 31st 2022 at 23:59 EST.</p>
            <p>Stars obtained after that date will simply not appear on the leaderboard.</p>
            <p>We do not check the global score provided by adventofcode.com. We instead determine the winners in this order:</p>
            <ul>
                <li>We check first the people with the highest number of stars.</li>
                <li>In case of a tie, we then check the people with the highest number of gold stars.</li>
                <li>In case of a tie, we then check the people that have later gold stars. For example, for two people that are tied at this point, a person with a gold star on day 10 will have a better position that a person with a gold star on day 5.</li>
                <li>Finally, if there is still a tie, we check for the lowest total time. The total time is calculated by adding the time it took to go from the silver star to the gold star in each question. This means that once you get the silver star, you should attempt to get the gold star as fat as possible.</li>
                <li>The order of the people in the results reflect these rules.</li>
            </ul>
            <p>The 3 winners will get Amazon gift cards worth $150, $100 and $50 respectively.</p>
        </div>
    </div>
</div>
